*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Python bytecode
__pycache__/

# Python virtual environment
venv/
*.local
.env

test.html
firestore-debug.log
app/*.json
functions/*.json
**/serviceAccountKey.json
.secrets/
*service-account*.json
*firebase-adminsdk*.json
*.exe
*.zip


node_modules/
