rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 유저 전용 문서 및 서브컬렉션 허용
    match /User/{uid} {
      allow read, write: if request.auth.uid == uid;
    }

    match /User/{uid}/{subCollection=**} {
      allow read, write: if request.auth.uid == uid;
    }

    // rooms 문서: 로그인한 사용자만 읽기 가능
    match /rooms/{roomId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    // 공지사항 읽기 허용
    match /Notices/{noticeId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    // Reviews 컬렉션 규칙
    match /Reviews/{reviewId} {
      allow read, write: if request.auth != null;
    }

    // Reservations 컬렉션 규칙
    match /Reservations/{reservationId} {
      allow read, write: if request.auth != null;
    }
  }
}
